.app {
  .container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .pagination {
      margin: 0 auto;
      button {
        cursor: pointer;
        height: 50px;
        width: 100px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0px 18px 15px rgba(148, 148, 148, 0.15);
        border: none;
      }

      button:hover {
        transform: translateY(-5px) scale(1.1);
      }

      .backpage {
        margin-right: 20px;
      }
    }
    .sort {
      margin-bottom: 15px;
      color: #9eaab4;
      .sortDate {
        margin-right: 10px;
        cursor: pointer;
        border-bottom: 1px dashed #9eaab4;
      }
      .sortRating {
        border-bottom: 1px dashed #9eaab4;
        cursor: pointer;
      }
      .sortRating:hover {
        border-color: #333333;
        color: #333333;
      }
      .sortDate:hover {
        border-color: #333333;
        color: #333333;
      }
    }
    .listTitle {
      color: #333333;
    }
    .list {
      .withoutResults {
        color: #333333;
        text-align: center;
        font-size: 48px;
        padding: 30px;
      }
      box-shadow: 0px 18px 15px rgba(148, 148, 148, 0.15);
      margin-bottom: 80px;
      .listTableTitle {
        display: grid;
        grid-template-columns: repeat(5, 300px);
        color: #9eaab4;
        font-size: 12px;
        margin-bottom: 22px;
      }
      border-radius: 10px;
      padding: 16px;
      background-color: #fff;
    }
  }
}
